@model IEnumerable<GMM.Data.Begeleiding>

@{
    ViewData["Title"] = "OVerzicht van begeleiders";
}

<h1>Overzicht van entourage &amp; begeleiders</h1>

<p>
    <a asp-action="Create"><img src="~/pics/add.png" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gsm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkieTalkie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boeking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gsm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkieTalkie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boeking.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Functie.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/pics/edit.png" /></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/pics/search.png" /></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/pics/delete.png" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
